.malcom-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: stretch;
}

.malcom-row>* {
    flex-basis: 20rem;
    flex-shrink: 0;
}

.malcom-row .card {
    display: flex;
    flex-direction: column;

}

.malcom-row .card>.card-content {
    flex-grow: 1;
}

.malcom-row .card>.card-image {
    flex-basis: 25rem;
    flex-shrink: 0;
    overflow-y: hidden;
    background-color: grey;
}

body {
    margin: 0;
    overflow-x: hidden;
}